@keyframes custom-fade-up {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes custom-fade-down {
    from {
        opacity: 0;
        transform: translateY(-4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes custom-fade-right {
    from {
        opacity: 0;
        transform: translateX(-4rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes custom-fade-left {
    from {
        opacity: 0;
        transform: translateX(100rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
